alembic==1.7.3
click==8.0.1
colorama==0.4.4
Flask==1.1.2
Flask-Migrate==2.5.3
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.15.1
greenlet==1.1.2
importlib-metadata==4.8.1
importlib-resources==5.2.2
itsdangerous==2.0.1
Jinja2==3.0.1
Mako==1.1.5
MarkupSafe==2.0.1
PyMySQL==1.0.2
SQLAlchemy==1.4.25
typing-extensions==3.10.0.2
Werkzeug==2.0.1
WTForms==2.2.1
zipp==3.6.0
